# Visual Studio files
/.vs
/out

# LibreSSL, since it's extracted from a tarball and not a git submodule
/lib/sys/libressl-*
!/lib/sys/libressl-*.tar.gz

# CMake build directory
/build/

# Swap files
.*.swp
