[submodule "lib/mxml"]
	path = lib/mxml
	url = https://github.com/segabl/mxml.git
[submodule "lib/wren"]
	path = lib/wren
	url = https://github.com/munificent/wren.git
[submodule "lib/sys/zlib"]
	path = lib/sys/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/sys/curl"]
	path = lib/sys/curl
	url = https://github.com/curl/curl.git
[submodule "lib/luajit"]
	path = lib/luajit
	url = https://github.com/LeonTheo02/LuaJIT.git
